<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-header [translucent]="true">
<ion-toolbar>
<ion-title>
{{titulo}}
</ion-title>

</ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
<ion-card *ngFor="let card of cards">
<ion-card-header>

<ion-card-title>{{card.titulo}} </ion-card-title>                
<ion-card-subtitle>{{card.subtitulo}}</ion-card-subtitle> 
</ion-card-header>

 
<ion-card-content>
      <div>
        <ion-img [src]="card.foto"></ion-img>
      </div>
{{ card.conteudo }}
</ion-card-content>
</ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>
